<style type="text/css">
"text/css">#ypsudes {background-color:#ffffff;}#ypsudes {float:right;}#ypsudes {width:100%;text-align:center;} 
{font-family:Microsoft JhengHei;}
{word-break:break-all;}


-->

</style>

<br>


<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-top:silver 1pt solid;border-left:silver 1pt solid;border-bottom:silver 1pt solid;margin-left:auto;margin-right:auto;">

    <tbody>
    
    
   <td align="center" width="10%" height="43" 
   bgcolor="#f8f8f8"style="border-right:silver 1pt solid;"><font color="#767676" size="2">材質</font></td>

    <td align="center" width="40%" height="43" style="border-right:silver 1pt solid;"><font color="#767676" size="2">洗滌方式</font></td>

    


  </tr>

  <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">棉質</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★有印花圖案、繡花字樣請翻
置入洗衣袋洗滌 較可保護衣物圖樣，也可減少起毛球的情況
<br />

★勿長時間浸泡、勿使用漂白水，勿使用烘衣機</font></td>

     

 
 
 
  

    </tr>
    
    
     <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">雪紡、紗質</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★建議盡量手洗，機器洗請置入洗衣袋並以低速洗滌<br />
★洗後勿烘乾或用力扭乾</font></td>

    
 
  <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">棉麻</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★棉麻洗滌會縮水，一般在5%左右
<br />
★較易褪色，盡量與其他衣物分開洗滌避免染色
<br />
★容易起毛球，盡量避免搓揉、摩擦
<br />
★質地輕柔，建議手洗，避免變形破損，減少皺褶和縮水幅度
<br />
★洗後吊掛陰乾或平晾，勿烘乾，乾後建議中低溫熨燙
<br /></font></td>

    


 
 
 
  

    </tr>
    
     <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">刷毛類</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★建議手洗，也可置入洗衣袋清洗；勿用熱水、漂白水、勿烘乾
<br />
★前幾次清洗多少會有棉絮脫落，屬正常現象 但會隨清洗次數減少，吊掛可能造成衣物變形滌</font></td>

   


 
 
 
  

    </tr>
    
    
    <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">針織</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★建議手洗，也可置入洗衣袋清洗；勿用熱水、漂白水、勿烘乾
<br />
★前幾次清洗多少會有棉絮脫落，屬正常現象 但會隨清洗次數減少，吊掛可能造成衣物變形滌</font></td>

    

 
 
 
  

    </tr>
    
        <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">毛料</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★建議乾洗
<br />
★勿用熱水清洗，避免衣物緊縮變形，勿烘乾
<br />
★洗後應平舖於毛巾上或晾衣架，置於陰涼處自然</font></td>

   
    
</tr>

 
    
    

 
  
   <tr>

    <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">泳衣、內衣</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★加冷洗精或中性洗衣劑手洗，於水中輕輕按壓清洗，勿用洗衣機
<br />
★洗後以毛巾輕壓擠出水分，置於陰涼處平放晾乾即可 切勿在太陽下直接曝曬，吊掛可能造成衣物變形、勿烘乾</font></td>

    

 
 
 
  

    </tr>
    
        <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">羽絨、 鋪棉外套</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★以中性冷洗精清洗，建議盡量手洗，勿用熱水清洗、勿烘乾
<br />
★機器洗請將拉鍊或扣子扣好置入洗衣袋，以低速清洗 盡量勿與其他衣物一起洗滌
<br />
★建議自然陰乾，勿直接太陽曝曬 晾乾後可輕拍衣服恢復蓬鬆度，吊掛可能造成衣物變形</font></td>

   
    
</tr>


    </tr>
    
        <td align="center" width="68" height="43" bgcolor="#f8f8f8"style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">牛仔</font></td>
    
    

    

    <td align="left" width="68" height="43" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">★首次洗滌易釋於些染劑，與其他衣物分開洗滌，避免染色
<br />
★建議翻面洗滌並於陰涼處反面晾曬，勿浸泡以保護刷色、勿烘乾
<br />
★牛仔類本身會有些許刷洗染劑味道屬正常現象 洗滌後晾掛通風處數日，味道會漸漸散去</font></td>

    
    
</tr>

    <td align="center" colspan="12" height="28" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2">備註</font></td>
    
    

  </tr>
<tr>

    <td align="left" colspan="12" height="28" style="border-top:silver 1pt solid;border-right:silver 1pt solid;"><font color="#767676" size="2"><br />
※任何衣物建議深、淺分開洗滌，避免造成衣物顏色互染

※首次洗滌時深色布料易釋於些微染劑，屬正常現象 會隨著清洗次數減少
<br /><br />


※避免長時間浸泡或使用漂白水或清潔力強的洗劑
<br /><br />


※洗衣前建議參考正式洗滌方式，較可延長商品使用壽命

 

<br />
<br />
</font></td>

  </tr>

    </tr>